p {
  font-family: Verdana;
  padding: 10px;
  }
  h3{
    font-family: Verdana;
    color: teal;
  }

  h4{
    font-family: Georgia;
    color: Green;
  }

#myFirstDiv {
  background-color:#e5f2ff;
  color: #000080;
  margin: 10px;
  padding: 15px;
  font-family: Verdana;
  border-radius: 10px;
  }
  
img {
  height: 500px;
  width: 500px;
}

#count {
  line-height: 30px;
  font-family: Georgia;
  text-align: center;
  font-size: 20px;
  color: #000080;
}

#riverImage {
  height: 500px;
  width: 500px;
  padding-left: 20px;
  padding-right: 35px;
  background-size: 100%;
}

#riverName {
  font-family: Georgia;
  text-align: center;
  font-size: 25px;
  color: #000080;
}

#show {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
  border-radius: 35px;
  font-size: 20px;
  border: white 1px solid;
  border-radius: 35px;
  font-weight: bold;
  background: blue;
  color: white;
}

#myMap{
  align-items: center;
  width: 90%; 
  height: 500px; 
  background-color: cream;
}

.map {
      width: 90%;
      height: 500px;
      background-color: cream;
    }

#infoWindow {
      background: #FFFFFF;
      padding: 15px;
      border-radius: 10px;
      font-size: 30px;
      position: relative;
      top: -78px;
      width: auto;
      display: inline;
      margin-left: 20px;
    }